<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs') %>

    <div class="detail-bg">
      <h4><%=ShowDetail.title%></h4>
      <p><%= ShowDetail.content %></p>
      <img src="<%= ShowDetail.img %>" />

      <hr style="margin-top: 60px" />
      <div>
        <% for (let i = 0; i < ShowComment.length; i++) { %>

        <p>
          <strong><%=ShowComment[i].writer%></strong>
          <%=ShowComment[i].content%>
        </p>
        <% } %>
      </div>
      <form action="/comment" method="POST">
        <input name="content" />
        <input
          name="parentId"
          value="<%= ShowDetail._id %>"
          style="display: none"
        />
        <button type="submit">댓글작성</button>
      </form>
    </div>
  </body>
</html>
